<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
	<button id="clickMe" type="button" class="btn-sm btn <%= obj.buttonType %>">Click Me</button>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
    <script>
	console.log('Client-side code running');

	const button = document.getElementById('clickMe');
	button.addEventListener('click', function(e) {
	  alert("<%= obj.buttonSays %>")
	});
    </script>
</body>
</html>
